.filterDiv {
  float: left;

  color: #ffffff;
  width: 490px;
  line-height: 100px;
  text-align: center;
  margin: 2px;
  margin-top: 50px;
  display: none;
}

.show {
  display: block;
}

.container6 {
  overflow: hidden;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 25px 36px;
  background-color: #ffffff;
  cursor: pointer;
}

.btn:hover {
  background-color: #e0d3ad;
}

.btn.active {
  background-color: #F5C332;
  color: white;
}